@media (max-width: 768px) {

    main {
        display: flex !important;
        flex-direction: column !important;
        padding: 10px;
    }

    /* quebra colunas */
    .direita, .esquerda {
        width: 100% !important;
        text-align: center;
        justify-content: center;
        margin: 0;
        padding: 0 5px;
        
    }

    /* ORDEM CORRETA */
    .card {
        order: 1;
    }

    .direita {
        order: 2;
    }

    .texto-esquerda,
    .estagio {
        order: 3;
    }

    /* faz TODOS virarem blocos ordenáveis */
    main > section,
    .esquerda > * {
        display: flex;
        flex-direction: column;
    }

    /* TEXTO BONITO NO MOBILE */    
    p {
        text-align: center;
        font-size: 15px;
        line-height: 1.6;
        margin: 0;
        padding: 0 5px; /* quase sem margem lateral */
    }

    h1, h2 {
        text-align: center;
    }

    /* imagens ocupando melhor a tela */
    img {
        width: 100% !important;
        height: auto;
    }

    /* botões grandes */
    button {
        width: 100%;
        padding: 12px;
    }
}